<!-- 
# Licensed Materials - Property of IBM
#
# "Restricted Materials of IBM"
#
# Copyright IBM Corp. 2013, 2016 All Rights Reserved.
#
# US Government Users Restricted Rights - Use, duplication or
# disclosure restricted by GSA ADP Schedule Contract with
# IBM Corp.
-->
<server description="CIS Development Server">

    <featureManager>
        <feature>restConnector-1.0</feature>
        <feature>ssl-1.0</feature>
        <feature>ia:iaRuntime-8.9.0</feature>
        <feature>ia:iaDispatcher-8.9.0</feature>
        <feature>ia:iaAnalytics-8.9.0</feature>
        <feature>ia:iaHTTPGateway-8.9.0</feature>
        <feature>ia:iaConnectivityInboundHTTP-8.9.0</feature>
        <feature>ia:iaConnectivityOutboundHTTP-8.9.0</feature>
        <feature>ia:iaDevelopment-8.9.0</feature>
	    <feature>ia:iaMaps-8.9.0</feature>
	    <feature>adminCenter-1.0</feature>
		<feature>monitoring-1.0</feature>
    </featureManager>

    <logging
        traceSpecification="com.ibm.ia.*=fine:com.ibm.rules.*=fine:*=info"
        maxFiles="10" />

    <httpEndpoint
        id="defaultHttpEndpoint"
        host="*"
        httpPort="${http.port}"
        httpsPort="${https.port}" />

    <xsServer
        catalogServer="true"
        listenerPort="${ia.listenerPort}"
        transport="XIO"
        serverName="${ia.serverName}" />

    <remoteFileAccess>
        <!-- solutionManager and connectivityManager remote deployment
             require remote write access to the server output directory -->
        <writeDir>${server.output.dir}</writeDir>
    </remoteFileAccess>

    <ssl id="defaultSSLConfig"
        keyStoreRef="defaultKeyStore"
        sslProtocol="TLSv1.2" />

    <keyStore
        id="defaultKeyStore"
        password="${ia.test.password}" />

    <httpSession securityIntegrationEnabled="false"/>

    <quickStartSecurity
        userName="${ia.test.user}"
        userPassword="${ia.test.password}" />

    <authorization-roles id="iaAuthorization">
        <security-role name="iaRESTWriter">
            <special-subject type="EVERYONE" />
        </security-role>
        <security-role name="iaRESTReader">
            <special-subject type="EVERYONE" />
        </security-role>
        <security-role name="iaHTTPGatewaySubmitter">
            <special-subject type="EVERYONE" />
        </security-role>
        <security-role name="iaSolutionDeveloper">
            <special-subject type="EVERYONE" />
        </security-role>
    </authorization-roles>

    <serverCommands
        startServerTimeout="120"
        stopServerTimeout="120" />

    <!-- *TODO* If required, enable connectivity using
                WebSphere MQ and supply the path to the
                WebSphere MQ 7.5 Resource Adaptor.
                Note that the WebSphere MQ 8 Resource Adaptor
                is not supported in single server cisDev profile.
                For example:
    
    <featureManager>
        <feature>ia:iaConnectivityInboundJMS-8.8.1</feature>
        <feature>ia:iaConnectivityOutboundJMS-8.8.1</feature>
        <feature>wmqJmsClient-1.1</feature>
    </featureManager>
    
    <variable
        name="wmqJmsClient.rar.location"
        value="*INSERT_PATH*/wmq.jmsra.rar" />
    
    -->

    <!-- *TODO* If required, modify the reconnection retry
                behavior of the WebSphere MQ Resource Adapter
                to extend the period of time that retries will
                be attempted before an inbound endpoint is 
                deactivated. You may wish to do this if you 
                know that scheduled down time of your WebSphere
                MQ server will be longer than the period covered 
                by the default value of 5 retries with an interval
                of 5 minutes between each attempt.
    
    <wmqJmsClient 
        reconnectionRetryCount="5"
        reconnectionRetryInterval="5m">
    </wmqJmsClient>
    
     -->

    <!-- *TODO* If required, enable connectivity using 
                WebSphere Application Server JMS messaging provider.
                Note that the JMS 2.0 client is not supported in the
                single server cisDev profile.
                For example:
    
    <featureManager>
        <feature>ia:iaConnectivityInboundJMS-8.8.1</feature>
        <feature>ia:iaConnectivityOutboundJMS-8.8.1</feature>
        <feature>wasJmsClient-1.1</feature>
    </featureManager>
    
    -->

</server>
